<h2>Task: <%= @task.title %></h2>
<p>Task Details: <%= @task.details %></p>
<% if @task.completed == true %>
  <p>This task is completed</p>
<% else %>
  <p>This task is not completed</p>
<% end %>
<br>
<p><%= link_to "Back to all Tasks", tasks_path %> | <%= link_to "Edit Task", edit_task_path %></p>
